{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}
{% block scss %}
    <link href="{% sass_src 'NodeApp/CSS/Upload.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="all">
    <form method="POST" action="{% url 'user:login' %}">
        {% csrf_token %}
        <p>username</p>
        <input class="loginbox" type="text" name="username">
        <br>
        <p>password</p>
        <input class="loginbox" type="text" name="password">
        <br>
        <input class="loginbtn" type="submit" value="로그인">
        
    </form>        
</div>
{% endblock %}
{% block JS %}
{% endblock %}