{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}
{% block scss %}
    <link href="{% sass_src 'UserApp/CSS/LoginForm.scss' %}" rel="stylesheet" type="text/css">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="loginModal">
    <div class="modal_Overlay"></div>
    <div class="modal_Contents">
        <form method="POST" action="{% url 'user:login' %}" class="login">
            {% csrf_token %}
            <img src="{% static 'MainApp/image/logo.png' %}" alt="로고" class="login_logo loginbox">
            <input class="loginbox" type="text" name="username" placeholder="아이디">
            
            <input class="loginbox" type="password" name="password" placeholder="비밀번호">

            <button class="loginbox" type="submit">Log in</button>
        
            <span class="ToGoSignup">아직 계정이 없다면? <a class="ToGoSignup_A" href="{% url 'user:signup' %}">가입하기</a></span>
<br>
        </form>   
    </div>
</div>


<!-- <div class="all">
    <form method="POST" action="{% url 'user:login' %}">
        {% csrf_token %}
        <p>username</p>
        <input class="loginbox" type="text" name="username">
        <br>
        <p>password</p>
        <input class="loginbox" type="text" name="password">
        <br>
        <input class="loginbtn" type="submit" value="로그인">
        
    </form>        
</div> -->
{% endblock %}
{% block JS %}
{% endblock %}