{% extends 'base.html' %}
{% load sass_tags %}
{% load notifications_tags %}
{% load static %}
{% block scss %}
    <link href="{% sass_src 'NodeApp/CSS/Upload.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    {% notifications_unread as unread_count %}
    <button>구독 신청하기(과금)</button>

        {% if unread_count %}
        <h3>{{unread_count}}개의 새 알림이 있습니다.</h3>
        {% else %}
        <h3>새 알림이 없네요!</h3>
        {% endif %}

        {% if unread_messages_invite %}
            {% for unread_messages in unread_messages_invite.all %}
            <div>
                <p>{{unread_messages.actor}}님 께서{{unread_messages.verb}}참가를 원하십니다!</p>
                <form action = "{% url 'user:join_project' %}" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='actor' value= '{{unread_messages.actor}}'>
                    <input type='hidden' name='project' value= '{{unread_messages.verb}}'>
                    <input type = 'submit' value='수락'>
                </form>
                <form action = "{% url 'user:cofirm_alarm' %}" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='actor' value= '{{unread_messages.actor}}'>
                    <input type='hidden' name='project' value= '{{unread_messages.verb}}'>
                    <input type = 'submit' value='거절'>
                </form>
                
            </div>
            {% endfor %}
        {% endif %}
        {% if unread_messages_invite_return %}
            {% for unread_messages in unread_messages_invite_return.all %}
            <form action = "{% url 'user:cofirm_alarm' %}" method='POST'>
                {% csrf_token %}
                <p>{{unread_messages.verb}}</p>   
                <input type='hidden' name='actor' value= '{{unread_messages.actor}}'>
                <input type='hidden' name='project' value= '{{unread_messages.verb}}'>
                <input type = 'submit' value='확인'>
            </form>
                 
            {% endfor %}
        {% endif %}
        <h1> 알림</h1>

{% endblock %}
{% block JS %}
{% endblock %}