{% extends 'base.html' %}
{% load sass_tags %}
{% load notifications_tags %}
{% load static %}
{% block scss %}
<link href="{% sass_src 'UserApp/CSS/mypage.scss' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
{% notifications_unread as unread_count %}
<!-- <button>구독 신청하기(과금)</button> -->
<div class="big-box">
    <!--hidden-->
    <div class="modal_Overlay"></div>
    <div class="modal_Contents">
        <div class="upload_Form">
            <div class="noti">
                <div class="noti-title">
                    {% if unread_count %}
                    {{unread_count}}개의 새 알림이 있습니다.
                    {% else %}
                    새 알림이 없네요!
                    {% endif %}
                </div>
            </div>

            {% if unread_messages_invite %}
            <div class="box">
                {{invite_project}}
                {% for unread_messages in unread_messages_invite.all %}
                <div class="title">
                    {{unread_messages.actor}}님 께서<br>"{{unread_messages.verb}}" 프로젝트 참가를 원하십니다!
                </div>
                <form class="submit" action="{% url 'user:join_project' %}" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='actor' value='{{unread_messages.actor}}'>
                    <input type='hidden' name='project' value='{{unread_messages.verb}}'>
                    <input class="uploadBtn" type='submit' value='수락'>
                </form>
                <form class="submit" action="{% url 'user:cofirm_alarm' %}" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='actor' value='{{unread_messages.actor}}'>
                    <input type='hidden' name='project' value='{{unread_messages.verb}}'>
                    <input class="uploadBtn" type='submit' value='거절'>
                </form>
                {% endfor %}
            </div>
            {% endif %}

            {% if unread_messages_invite_return %}
            <div class="box">
                {% for unread_messages in unread_messages_invite_return.all %}
                <div class="title">
                    {{unread_messages.verb}}
                </div>
                <form class="submit" action="{% url 'user:cofirm_alarm' %}" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='actor' value='{{unread_messages.actor}}'>
                    <input type='hidden' name='project' value='{{unread_messages.verb}}'>
                    <input class="uploadBtn" type='submit' value='확인'>
                </form>

                {% endfor %}
            </div>
            {% endif %}

        </div>




    </div>
</div>

{% endblock %}
{% block JS %}
{% endblock %}