{% load sass_tags %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FromNode</title>
    <!-- scss를 선언할 영역 -->
    {% block scss %}
    {% endblock %}
</head>
<body>
    <!-- 로그인 여부에 따라 보여주는 navbar 내용이 달라야한다 -->
    <div class="navbar">
        <span>FromNode</span>
        <a hrer="#">어딘가로</a>
        <a hrer="#">어딘가로</a>
        <a hrer="#">어딘가로</a>
        <a hrer="#">어딘가로</a>
    </div>
    <!-- 페이지 컨텐츠가 들어갈 영역 -->
    {% block body %}
    {% endblock %}
</body>
</html>