{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FromNode</title>
    <link rel="stylesheet" href="{% static 'MainApp/CSS/Base/leftbar.css'%}" type="text/css">
    <link href="{% sass_src 'MainApp/CSS/Base/test.scss' %}" rel="stylesheet" type="text/css">

    <!-- scss를 선언할 영역 -->
    {% block scss %}
    {% endblock %}
</head>

<body>
    <!--상단부-->
    <div class="container">
        <div class="top">
                <div class="top_left">
                    <a href="{% url 'project:project_list' %}">
                        <img src="{% static 'MainApp/image/logo_image_text.png'%}" alt="">
                    </a>
                </div>
                <div class="top_center">
                    <form class="search_form" action="#" method='GET'>
                        <input class="searchInput" type="text" name="query" placeholder="Search">
                        <div class="input_button">
                            <input class="search_img" type="image" src="{% static 'MainApp/image/find.png' %}" alt="Submit">
                        </div>
                    </form>
                </div>
                <div class="top_right">
                    <ul>
                        <li class="nav-item"><a class="nav-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                            <form id="logout" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}   
                                <input type="hidden" />
                            </form>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="bottom">
            <div class="left_nav">
                {% block leftbar %}
                {% endblock %}
            </div>
            <Div class="main_contents">
                {% block content %}
                {% endblock %}
            </Div>
        </div>
    </div>
    {% block JS %}
    {% endblock %}
</body>

</html>