{% load static %}
{% load sass_tags %}

<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<link href="{% sass_src 'NodeApp/CSS/comment.scss' %}" rel="stylesheet" type="text/css">


<p id="test" class="tribute-demo-input" placeholder="Enter some text here" contenteditable="true" data-tribute="true">
</p>
<a id="cmt_but" href="#">Comment</a>
<br>
<br>
<div id="nodeCodeForComment"></div>

<div class="comment_body">
    <div class="each_comment">
        <div class="profile_part">
            <img class="img-circle img-sm" alt="Profile picture" src="https://bootdey.com/img/Content/avatar/avatar1.png" >
        </div>
        <div class="comment_text_block">
            <div class="cmt_top">
                <p class="cmt_block author_name">HyeseonLee</p>
                <p class="cmt_block created_date">2021-02-11 21:27</p>
            </div>
            <div class="cmt_bottom">
                <p class="cmt_text">예시 댓글을 적어보려고 해요!</p>
            </div>
        </div>
        <hr>
    </div>      

    {% for item in comments_data %}
    <div class="each_comment">
        <div class="profile_part">
            <img class="img-circle img-sm" alt="Profile picture" src="{{item.author_img_url}}" >
        </div>
        <div class="comment_text_block">
            <div class="cmt_top">
                <p class="cmt_block author_name">{{item.author}}</p>
                <p class="cmt_block created_date">{{item.created_date}}</p>
            </div>
            <div class="cmt_bottom">
                <p class="cmt_text">{{item.content}}</p>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
  
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script> // 멘션

    //test
    let project_users = [
        {% for user in proj_user %}
        {
            key: "{{user.username}}",
            value : "{{user.Profile.nickname}}"
        },
        {% endfor %}
    ]
    // 멘션기능 start
    var tribute = new Tribute({
        values: project_users,

        selectTemplate: function (item) {
            if (typeof item === "undefined") return null;
            if (this.range.isContentEditable(this.current.element)) {
                return (
                    //   '<span contenteditable="false"><a href="http://zurb.com" target="_blank" title="' +
                    //   item.original.email +
                    //   '">' +
                    '<span contenteditable="false" class="mentioned_name">'
                    + '@'
                    + item.original.value
                    +" "
                    + "</span>"
                    //   "</a></span>"
                );
            }

            return "@" + item.original.value;
        },
        requireLeadingSpace: false
    });
    tribute.attach(document.getElementById("test")); // attach : tribute 라이브러리 사용가능하게 하기

    // when 대치되는 항목이 있어서 replace가 일어날 때 !
    document
        .getElementById("test")
        .addEventListener("tribute-replaced", function (e) {
            console.log("Original Event:", e.detail.event);
            console.log("Matched item:", e.detail.item);
        });

    // example of Tribute in autocomplete mode

    var tributeAttributes = {
        autocompleteMode: true,
        noMatchTemplate: "",
        values: project_users,
        selectTemplate: function (item) {
            if (typeof item === "undefined") return null;
            if (this.range.isContentEditable(this.current.element)) {
                return (
                    '<span contenteditable="false" class="mentioned_name">' +
                    item.original.key +
                    " "+
                    "</span>"

                );
            }

            return item.original.value;
        },
        menuItemTemplate: function (item) { //지금 멘션 list에 뜨는건 item.string 뿐이다. 원한다면 li의 innerHTML를 바꾸기 (return '<img src="'+item.original.avatar_url + '">' + item.string;)
            return item.string;
        }
    };

    // ajax csrf_token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // end


    // 댓글 data 보내기 (who send mention, comment data, who get mention)
    $('#cmt_but').click(function(){
        let node_pk = document.getElementsByName('NodePk')[0].value; //node_pk
        let comment_text; 
        let get_mention;
        var comment_html = $('#test').text();
        console.log("comment_html \n" + comment_html);



        var mentioned = $(".mentioned_name").text();
        console.log("mentioned \n"+mentioned);
        // who get mention
        let arr_get_mention = mentioned.split("@");
        console.log(arr_get_mention);
        if (arr_get_mention == ""){
            // 언급된 사람 없으면 -> 댓글 text만 그대로 보내면 된다 !
            console.log("언급된 사람 없습니다");
            comment_text = comment_html;
            get_mention = "";
        }
        else{
            get_mention = arr_get_mention[1];
            console.log(get_mention);
            var arr_comment_html = comment_html.split(" "); // for 멘션 부분 제외한 텍스트 추출
            // comment text
            arr_comment_html.shift();
            // console.log(arr_comment_html);
            comment_text = arr_comment_html.join(" ").substr(1); // final comment text
            
            // console.log(comment_text);
        }

        // ready to send ajax
        console.log("node_pk \n" + node_pk
                    +"\n" + "mentioned_name \n" + get_mention
                    +"\n" + "comment_text \n" + comment_text)

        $.ajax({
            url: "{% url 'node:comment_submit' %}",
            dataType:"json",
            type: 'POST',
            data: {'node_pk':node_pk,
                    'mentioned_name':get_mention,
                    'comment_text':comment_text},
            success: function(data){
                console.log(data);
            },
            error: function(e){
                console.log("error");
            }
        })
    })
</script>