{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}

{% block scss %}
{% endblock %}

{% block content %}
{%for node in FNode%}
<div class = 'node_detail'>
    <p class = 'detail_texts'>고유 코드:{{node.Code}}<br></p>
    <p class = 'detail_texts'>파일 : {{node.fileObj}}<br></p>
    <p class = 'detail_texts'>생성 유저: {{node.whoIsOwner}}<br></p>
    <p class = 'detail_texts'>생성 일자: {{node.createdDate}}</p>
</div>

<form method="POST" action="{% url 'node:create_node' node.Code %}" class="upload_Form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="drop-zone">
        <span class="drop-zone__prompt">영역을 클릭하거나 <br> 파일을 여기로 끌어 놓아 업로드 하세요.</span>
        <input type="file" name="myFile" class="drop-zone__input" multiple>
        <input type='hidden' name='pk' value='{{The_file.Code}}' formenctype="multipart/form-data">
        
    </div>
    <input class="uploadBtn" type="submit" value="업로드하기">
</form>
<!-- 
<div class="uploadModal hidden">
    <div class="modal_Overlay"></div>
    <div class="modal_Contents">
        <img src="{% static 'MainApp/image/logo.png' %}" alt="로고" class="upload_logo loginimgbox">
        <form method="POST" action="{% url 'file:create_new_file' %}" class="upload_Form" enctype="multipart/form-data">
            {% csrf_token %}
            <p class='middle'>메모:</p><input type='text' name='fileMemo' class='fileMemo' value=''>
            <p class='middle'>파일 업로드</p>
            <div class="drop-zone">
                <input type="file" name="myFile" class="drop-zone__input" value='파일 선택' multiple>
                <span class="drop-zone__prompt"><p class='small'>또는 파일을 여기로 끌어 놓으세요</p></span>
            </div>
            <input type='hidden' name='pk' value='{{project}}' formenctype="multipart/form-data">
            <input class="uploadBtn" type="submit" value="OK">
        </form>   
    </div>
</div> -->
{% endfor %}
{% endblock %}

{% block JS %}
{% endblock %}