{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}

{% block scss %}
<link href="{% sass_src 'NodeApp/CSS/NodeListHtml.scss' %}" rel="stylesheet" type="text/css">
<!-- <link href="{% sass_src 'NodeApp/CSS/nodeModal.scss' %}" rel="stylesheet" type="text/css"> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% sass_src 'NodeApp/CSS/comment.scss' %}" rel="stylesheet" type="text/css">

<style>
  .NodeContainer {
    display: grid;
    gap: 0;
    place-items: center center;
  }

  /* .Nodes button {
    all: unset;
    cursor: pointer;
  } */
</style>
{% endblock %}


{% block content %}
<div class="header bg-primary">
  <div class="container-fluid">
    <div class="row align-items-center py-4 bg-primary">
      <div class="col-lg-6 col-7 d-flex align-items-center">
        <h6 class="h1 text-white d-inline-block mb-0">{{pro_name}}</h6>

        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
          <div class="avatar-group">
              {% for member in proj_user %}
                  <a class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="{{member.Profile.nickname}}">
                      <img alt="Image placeholder" src="{{member.Profile.profile_image.url}}">
                    </a>
              {% endfor %}
              <a href="{% url 'file:invite' pro_code %}" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="#">
                      <img alt="Image placeholder" src="{% static 'MainApp/picture/pluslogo.png' %}">
              </a>
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#inviteModal">
                  + invite! </button>
          </div>
      </nav>

      </div>
    <div class="col text-right">
        <button type="button" class="btn btn-icon btn-secondary btn-inner--text" style='float: right;' onclick = "location.href = '{% url "file:file_list" pro_code %}' ">
            Node 분석하기 </button>
    </div>
      <!-- <div class="col-lg-6 col-5 text-right">
        <button class="btn btn-icon btn-secondary" type="button">
          <span class="btn-inner--icon"><i class="ni ni-active-40"></i></span>
          <span class="btn-inner--text">New Node</span>
        </button>
      </div> -->
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="col text-left" style='display:{{empty_check}}; margin:20px;'>
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#uploadModal">
            + Add First Node  </button>
    </div>

  <!-- inviteModal-->
<div class="modal fade invite_Moal" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <h3>아래 링크를 복사해서 팀원에게 알려주세요! 로그인한 상태로 저 링크에 접속하시면 팀원으로 참여됩니다.</h3>
          <h3>fromnode.com/project/invite/{{pro_code}}</h3>
      </div>
  </div>
</div>

  <!-- 여기에 노드리스트 깔자 -->
  <div class="NodeContainer">
    <?xml version="1.1" ?>
    <svg xmlns="http://www.w3.org/2000/svg" class="pathes" version="1.1" baseProfile="full"
      style="position: absolute; z-index: -1;">
    </svg>
  </div>
</div>


<!-- uploadModal -->
<div class="modal fade upload_Modal" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="POST" action="{% url 'node:create_node' %}" class="upload_Form"
      enctype="multipart/form-data">
      {% csrf_token %}

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <input type="hidden" id="upload_hiddenInput" name="this_node_pk">
          <input type='hidden' name='ownerPCode' value = '{{pro_code}}'>
        </div>
        <div class="modal-body py-4">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Comment</span>
              </div>
              <input type="text" name="node_name" class="form-control" aria-describedby="basic-addon3">

            </div>
          </div>
          <div class="custom-file">
            <label class="custom-file-label" for="customFileLang">Select file</label>
            <input type="file" name="uploadFile" class="custom-file-input" id="customFileLang" lang="en">
          </div>
        </div>
        <div class="modal-body my-4">
          <div class="d-flex justify-content-center">

          <button class="btn btn-icon btn-primary" type="submit">
            <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
            <span class="btn-inner--text">Make New Node</span>
          </button>
        </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>
<!-- nodeModal -->
<div class="modal fade" id="nodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-card border-bottom pt-0">
          <div class="row align-items-center">
            <div class="col">
              <h4 class="h2 mb-0" id="node_name"></h4>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <h5 class="text-uppercase text-muted ls-1 mb-1" id="created_date"></h5>
            </div>
            <div class="media align-items-center">
              <a class="circle-sm rounded-circle" id="author_color"></a>
              <div class="media-body">
                <span class="name mb-0 text-sm text-body font-weight-600" id="author_nickname"></span>
              </div>
            </div>
          </div>
          <!-- <div class="row align-items-left">
            <div class="col">
              <span class="text-sm text-body font-weight-600">Similarity</span>
              <span id="similarity" class="text-sm text-muted font-weight-600"></span>
              
              <span class="text-sm text-body font-weight-600">New Text</span>
              <span id="added_letters" class="text-sm text-muted font-weight-600"></span> 
            </div>
            <div class="text-right">
              <span id="is_workflow" class="text-sm text-danger font-weight-500"></span> 
            </div>
          </div> -->
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-card">
          <span id="summary_text"></div>
        <div class="d-flex justify-content-center">

          <button class="btn btn-icon btn-primary" type="button" data-toggle="modal" data-target="#uploadModal">
            <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
            <span class="btn-inner--text">Upload</span>
          </button>
          <a class="btn btn-icon btn-primary download">
            <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
            <span class="btn-inner--text">Download</span>
          </a>
        </div>
      </div>

      {% include "NodeApp/comment.html" %}

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>





<!-- here -->


</div>
{% endblock %}
{% block JS %}
<script>


  const NodeContainer = document.querySelector(".NodeContainer");
  const globalDataArray = [];

  const init = async () => {
    let sorted_data = '{{li_location}}'.replaceAll("&#x27;", "");
    let location_Data = sorted_data;
    console.log(location_Data);
    let data = await getNodeData(); // data는 file에 속한 모든 노드 object인가보오
    let locationData = await getLocationData(data, location_Data);
    console.log("locationData\n" + locationData);
    await createGrid(data); // 그리드 만들기
    await createNodeBtn(data, locationData);
    await createGhostDiv();
    await settingNodeDiv();
    // await showUpModal();
    await MakeCurveLine();
  }
  const getNodeData = async () => {
    let json_data = '{{json}}'.replaceAll("&quot;", "\"");
    // console.log("json_data" + json_data);
    let json = JSON.parse(json_data);
    // console.log("json??" + json[0]['Code']);
    for (let i = 0; i < json.length; i++) {
      globalDataArray.push(json[i]); //globalDataArray : file에 속한 모든 노드
    }
    // console.log("globalDataArray가 무엇이냐\n"+globalDataArray);
    return await json
  }
  const getLocationData = async (data, location_Data) => {
    let locationStr = location_Data;
    locationStr = locationStr.replaceAll("[", "");
    locationStr = locationStr.replaceAll("]", "");
    let locationArray = new Array;
    let splitStr = locationStr.split(",");
    
    
    for (let i = 0; i < splitStr.length / 3; i++) {
      locationArray.push({
        Column: Number(locationStr.split(",")[3 * i].trim()), // 넘어오는게 column , row, pk 순임..
        Row: Number(locationStr.split(",")[3 * i + 1].trim()),
        Pk: locationStr.split(",")[3 * i + 2].trim(),//숫자로하면 맨 앞에 0이 지워져서 문자열로
      })
    }
    console.log(locationArray);
    for (let i = 0; i < splitStr.length / 3; i++) {
      for (let k = 0; k < data.length; k++) {
        target = data[k].pk
        if (locationArray[i].Pk == target) {
          locationArray[i].priviousCode = data[k].fields.previousCode
        }
        // console.log("먀아"+data[k].fields.whoIsOwner);

      }
    }
    // console.log("location어레이\n" + locationArray[0].k);
    return locationArray
  }
  const createGrid = async (data) => {
    //최대 row, columns 숫자 넣기 grid 생성
    let gridRowWidth = '{{gridRowNum}}'.replaceAll("&#x27;", ""); // views에서 받은 값 
    let gridColumnHeight = '{{gridColumnNum}}'.replaceAll("&#x27;", ""); // views에서 받은 값 
    NodeContainer.style.setProperty('grid', `${gridRowWidth} / ${gridColumnHeight}`); // grid 선언

    //grid-template-areas 선언
    let rowNum = '{{num_of_row}}'; // view에서 받은 행 최대값
    let columnNum = '{{num_of_column}}'; // view에서 받은 열 최대값

    let gridTemplateAreas = []; // 가공 이전 배열
    let gridTemplateAreasArray = []; // 가공 후 문자열
    for (let i = 0; i < rowNum; i++) {
      gridTemplateAreas.push(new Array());
      gridTemplateAreas[i].push('"'); // css 에 " ~~ " " ~~ " 형식으로 들어가는데 앞 " 을 담당
      for (let k = 0; k < columnNum; k++) {
        gridTemplateAreas[i].push(`R${i + 1}C${k + 1}`);
      }
      gridTemplateAreasArray.push(gridTemplateAreas[i].join(" ")); // css 형식 맞추기 위한 변환
    }
    let gridNodeAreas = gridTemplateAreasArray.join(' " ').concat(' "'); // css 에 " ~~ " " ~~ " 형식으로 들어가는데 뒷부분 " 을 담당 및 변환
    NodeContainer.style.setProperty('grid-template-areas', `${gridNodeAreas}`);
  }
  const createNodeBtn = async (data, locationData) => {
    //node data 받아올 것 
    let all_node_data_to_json = '{{all_node_data_to_json}}'.replaceAll("&quot;", "\"");
    var all_node_data = JSON.parse(all_node_data_to_json);

    for (let i = 0; i < locationData.length; i++) { // 노드 수 만큼
      //location data
      let varObj = {
        "row": locationData[i].Row,
        "column": locationData[i].Column,
        "Pk": locationData[i].Pk,
      };  
      let btnDiv = document.createElement("div");
      let n_btn = document.createElement("button");
      // bootstrap modal 개조 
      n_btn.setAttribute("data-target", "#nodeModal");
      n_btn.setAttribute("type", "button");
      n_btn.setAttribute("data-toggle", "modal");
      // end
      n_btn.setAttribute("onclick", "sendDataToModal(this);")
      n_btn.setAttribute("class", `${varObj.Pk} node_btn`); // searchDataSameToClickedBtnData에서 노드 pk 추적할 때 쓰인다. (중요)
      n_btn.setAttribute("id", `${varObj.Pk}`);
      console.log(varObj);
      let node_check = all_node_data.filter(all_node_data => all_node_data['node_code'] == varObj.Pk);
      console.log(node_check) 
      
      let node_color = node_check[0]['owner_color']
      n_btn.style.setProperty('border', `3px solid ${node_color}`);
      
      let n_name_text = document.createElement("h5");
      n_name_text.setAttribute("class", "text-sm mb-0");
      n_name_text.setAttribute("id", "n_btn_name");
      n_name_text.innerText = node_check[0]['node_name'];
      n_btn.appendChild(n_name_text);

      let n_date = document.createElement("h6");
      n_date.setAttribute("class", "text-muted mb-0");
      n_date.setAttribute("id","n_btn_created_date");
      n_date.innerText = node_check[0]['created_date'];
      n_btn.appendChild(n_date);  
      
      

      
      btnDiv.appendChild(n_btn);


      btnDiv.setAttribute("class", `R${varObj.row}C${varObj.column} Nodes`);// R1C1
      NodeContainer.appendChild(btnDiv);
    }
  }
  const createGhostDiv = async () => {
    const emptyArea = document.querySelectorAll(".Nodes");
    let areaArray = [];
    let maxNumArray1 = [];
    let maxNumArray2 = [];
    for (let i = 0; i < emptyArea.length; i++) {
      let columnNum = emptyArea[i].classList[0].slice(1, 2);
      let rowNum = emptyArea[i].classList[0].slice(3);
      maxNumArray1.push(Number(columnNum));
      maxNumArray2.push(Number(rowNum));
      areaArray.push(`${columnNum}${rowNum}`)
    }
    let maxColumnNum = Math.max(...maxNumArray1)
    let maxRowNum = Math.max(...maxNumArray2)
    let emptyAreaArray = [];
    for (let i = 1; i < maxColumnNum + 1; i++) {
      for (let k = 1; k < maxRowNum + 1; k++) {
        if (areaArray.includes(`${i}${k}`) == false) {
          emptyAreaArray.push(`${i}${k}`);
        }
      }
    }
    for (let i = 0; i < emptyAreaArray.length; i++) {
      let row = emptyAreaArray[i].slice(0, 1);
      let column = emptyAreaArray[i].slice(1, 2);

      let createDiv = document.createElement("div");
      createDiv.setAttribute("class", `R${row}C${column} emptyAreas`);
      createDiv.style.setProperty('width', '100px');
      createDiv.style.setProperty('height', '100px');
      createDiv.style.setProperty('grid-area', `R${row}C${column}`);
      NodeContainer.appendChild(createDiv);
    }
  }
  const settingNodeDiv = async () => {
    // 해당클래스 찾아서 grid-area 선언
    const Nodes = document.querySelectorAll(".Nodes");
    for (let i = 0; i < Nodes.length; i++) {
      let nodeLocation = Nodes[i].classList[0];
      Nodes[i].style.setProperty('grid-area', `${nodeLocation}`); // 위치 지정
    }
  }
  const sendDataToModal = async (clickedValue) => {
    let clickedBtn = clickedValue;
    // let btnData = await searchDataSameToClickedBtnData(clickedBtn);
    await sendNodeDetailContents(clickedBtn);
    await searchNodeComments(clickedBtn); //클릭한 node 댓글 모델에 만들기

    // await searchDataSameToClickedBtnData(clickedBtn);
    // await sendInputContents(btnData);
  }

  const sendNodeDetailContents = async (clickedBtn) => {
    // node 클릭했을 때 detail한 정보 html 만들기
    // node 클릭했을 때 detail한 정보 html 만들기
    let regionalDataArray = globalDataArray.slice();
    let clickedValuePk = clickedBtn.classList[0]; //선택한 Node의 Pk
    let clickedNodeData;

    $.ajax({
          url: "{% url 'node:load_node_data' %}",
          type: 'POST',
          data: { 'node_pk': clickedValuePk },
          success: function (data) {
            // console.log(data);
            document.getElementById('node_name').innerText = data['node_name'];
            document.getElementById('created_date').innerText = data['created_date'];
            let color = "background-color:" + data['author_color'] +"; border:1px solid rgba(0, 0, 0, .05)";
            document.getElementById('author_color').setAttribute("style", color);
            document.getElementById('author_nickname').innerText = data['author_nickname'];
            // document.getElementById('summary_text').innerText = data['summary'];
            // if(data['similarity'] != null) {
            //   // similarity 값이 있으면
            //   document.getElementById('similarity').innerText = data['similarity'] +"% | ";
            // }
            // else{
            //   document.getElementById('similarity').innerText = "0%  | ";
            // }

            // if(data['added_letters'] != null){
            //   // added letters 값이 있으면
            //   document.getElementById('added_letters').innerText = data['added_letters'] + " ++";
            // }
            // else{
            //   document.getElementById('added_letters').innerText = "0++";
            // }

            // if(data['is_workflow'] == "1") {
            //   // 작업중 파일
            //   document.getElementById('is_workflow').innerText = "작업중 파일";
            // }
            // else{
            //   document.getElementById('is_workflow').innerText = "기타 파일";
            // }

            //upload, download 버튼
            document.getElementById('upload_hiddenInput').setAttribute("value", clickedValuePk);
            let node_downloadBtn = document.querySelector('.download');
            console.log("먀아"+node_downloadBtn)
            node_downloadBtn.setAttribute('href', `/node/download/${clickedValuePk}`);
                        
            // console.log(document.getElemen('node_name').innerHTML);
            // document.getElementsByClassName('node_name');
          },
          error: function (e) {
            console.log("node load error");
      }
    })



    for (let i = 0; i < regionalDataArray.length; i++) {
      if (clickedValuePk == regionalDataArray[i].pk) {
        let fields = regionalDataArray[i].fields;
        clickedNodeData = {
          'NodeTitle': fields.comment,
          'filename': fields.filename,
          'NodeCreatedDate': fields.createdDate,
          'NodeDescription': fields.desecription,
          'NodeFileObj': fields.fileObj,
          'NodeName': fields.nodeName,
          'NodeOwnerFileCode': fields.ownerFCode,
          'NodeOwnerProjectCode': fields.ownerPCode,
          'NodePreviousCode': fields.previousCode,
          'NodeOwner': fields.whoIsOwner,
          'NodePk': clickedValuePk,
        }
        nowCommentPK = clickedNodeData['NodePk'];
      }
    }
    // console.log("먀아아아" + clickedNodeData);


  }

  const searchNodeComments = async(clickedBtn) => {
    let clickedValuePk = clickedBtn.classList[0]; // button tag의 class 이름들 List로 받아오는건데, 0번째 있는게 선택한 Node의 Pk다 !
        //comment 만드는 부분입니다
        let comment_object = [ // node_list 페이지에 있는 전체 comment 불러오는중
          {% for com in comment_data %}
            {
              node_code: "{{ com.node_code }}",
                content: "{{ com.content }}",
                  author: "{{ com.author }}", //닉네임이다
                    author_img: "{{ com.author_img_url }}",
                      who_is_mentioned: "{{ com.who_is_mentioned }}", //닉네임이다
                        create_date: "{{ com.created_date }}"
            },
          {% endfor %}
        ]

        // 불러온 comment_object를 for문으로 순회하여 현재 클릭된 Node PK(nowCommentPK)와 동일한 node_code를
        // 가진 코멘트 정보만 comment_array 배열에 push
        var comment_array = [];
        for (idx in comment_object) {
          if (clickedValuePk == comment_object[idx]['node_code']) {
            comment_array.push(comment_object[idx]);
          }
        }
        comment_array.reverse();

        // comment data를 html로 쏴주자
        const clicked_node_pk = clickedValuePk;
        const comment_write_box = document.getElementById('test');
        comment_write_box.innerText = "";
        const comment_write_but = document.getElementById('cmt_but');
        comment_write_but.setAttribute("name", `${clicked_node_pk}`);
        const comment_container = document.getElementById('comment_body');
        comment_container.innerHTML = "";

        for (let i = 0; i < comment_array.length; i++) {
          let commentObj = {
            "node_code": comment_array[i]['node_code'],
            "author_img": comment_array[i]['author_img'],
            "author": comment_array[i]['author'],
            "content": comment_array[i]['content'],
            "created_date": comment_array[i]['create_date'],
            "who_is_mentioned": comment_array[i]['who_is_mentioned'],
          };
          let each_comment = document.createElement("div");
          each_comment.setAttribute("class", 'each_comment row');
          comment_container.appendChild(each_comment);

          let profile_part = document.createElement("div");
          profile_part.setAttribute("class", 'col-auto');
          each_comment.appendChild(profile_part);

          let prof_img = document.createElement("img");
          prof_img.setAttribute("class", 'img-circle img-sm');
          prof_img.setAttribute("alt", 'Profile picture');
          prof_img.setAttribute("src", `${commentObj.author_img}`);
          profile_part.appendChild(prof_img);

          let comment_text_block = document.createElement("div");
          comment_text_block.setAttribute("class", 'col px-0 comment_text_block');
          each_comment.appendChild(comment_text_block);

          let cmt_top = document.createElement("div");
          cmt_top.setAttribute("class", 'cmt_top');
          comment_text_block.appendChild(cmt_top);

          let author_name = document.createElement("span");
          author_name.setAttribute("class", 'author_name text-sm');
          author_name.innerHTML = `${commentObj.author}`;
          cmt_top.appendChild(author_name);
          // console.log(`${commentObj.author}`);

          let created_date = document.createElement("span");
          created_date.setAttribute("class", 'created_date text-sm');
          created_date.innerHTML = `${commentObj.created_date}`;
          cmt_top.appendChild(created_date);

          let cmt_bottom = document.createElement("div");
          cmt_bottom.setAttribute("class", 'cmt_bottom');
          comment_text_block.appendChild(cmt_bottom);
          // <p class="cmt_text_block">
          //   <span class="who_is_mentioned text-sm">@admin</span>
          //   <span class="cmt_text_block cmt_text text-sm">oveflow를 블라블라블라블라블라 인데 .. 이거 참 어렵네요&nbsp; .. 근데 아샷추가 맛있어서 버틸만해요</span>
          // </p>

          let cmt_content_block = document.createElement("p");
          cmt_content_block.setAttribute("class", "cmt_text_block");
          cmt_bottom.appendChild(cmt_content_block);

          if (commentObj['who_is_mentioned'] != "") {
            // 언급된 사람이 있을 때만 추가하기 !
            let who_is_mentioned = document.createElement("span");
            who_is_mentioned.setAttribute("class", 'who_is_mentioned text-sm');
            who_is_mentioned.innerHTML = `${commentObj.who_is_mentioned}`;
            cmt_content_block.appendChild(who_is_mentioned);
          }

          let cmt_text = document.createElement("span");
          cmt_text.setAttribute("class", 'cmt_text text-sm');
          cmt_text.innerHTML = `${commentObj.content}`;
          cmt_content_block.appendChild(cmt_text);
        }
  }

  const searchDataSameToClickedBtnData = async (clickedBtn) => {
    // 2021.02.20 이거 이제 안써요 !
    let regionalDataArray = globalDataArray.slice();
    let clickedValuePk = clickedBtn.classList[0]; // button tag의 class 이름들 List로 받아오는건데, 0번째 있는게 선택한 Node의 Pk다 !
    // console.log("무엇에 쓰는 물건이고" + clickedValuePk);
    let clickedNode = [];

    for (let i = 0; i < regionalDataArray.length; i++) {
      if (clickedValuePk == regionalDataArray[i].pk) {
        let fields = regionalDataArray[i].fields;
        let clickedNodeData = {
          'NodeTitle': fields.comment,
          'filename': fields.filename,
          'NodeCreatedDate': fields.createdDate,
          'NodeDescription': fields.desecription,
          'NodeFileObj': fields.fileObj,
          'NodeName': fields.nodeName,
          'NodeOwnerFileCode': fields.ownerFCode,
          'NodeOwnerProjectCode': fields.ownerPCode,
          'NodePreviousCode': fields.previousCode,
          'NodeOwner': fields.whoIsOwner,
          'NodePk': clickedValuePk,
        }
        nowCommentPK = clickedNodeData['NodePk'];
        // console.log("nowCommentPK\n" + nowCommentPK);
      }
      clickedNode.push(clickedNodeData); //사실 굳이 array에 안넣어도 돼요

    }
      return clickedNode
      
    }

  const sendInputContents = async (btnData) => {
    // 이거 이제 안써요 !!
    // 클릭된 노드에 대한 data를 btnData가 가지고 있고, 그것을 hidden으로 html에 쏴줍니다.
    // console.log(btnData);
    const sendDataInput = document.querySelector(".hiddenInput");
    const dataLength = Object.keys(btnData[0]).length;
    for (let i = 0; i < dataLength; i++) {
      let objectKeys = Object.keys(btnData[0])[i];
      let objectValues = Object.values(btnData[0])[i];
      let createInput = document.createElement("input");
      let downloadBtn = document.querySelector('.download');
      downloadBtn.setAttribute('href', `/node/download/${btnData[0].NodePk}`);
      createInput.setAttribute("type", "hidden");
      createInput.setAttribute("class", "sendDataInput");
      createInput.setAttribute("name", `${objectKeys}`);
      createInput.setAttribute("value", `${objectValues}`);
      sendDataInput.appendChild(createInput);
    }
  }

  const MakeCurveLine = async () => {

    let coordinates = `{{coordinates}}`.replaceAll("&#x27;", "");
    let coordinates_replace1 = coordinates.replaceAll('"', "");
    let coordinates_replace2 = coordinates_replace1.replaceAll('[', "");
    let coordinates_replace3 = coordinates_replace2.replaceAll('(', "");
    let coordinates_replace5 = coordinates_replace3.replaceAll(')', "");
    // let coordinates_replace5 = coordinates_replace4.replaceAll(',',"");
    let coordinates_replace6 = coordinates_replace5.replaceAll(']', "");
    let coordinates_replace7 = coordinates_replace6.replaceAll(' ', "");
    let coordinates_split = coordinates_replace7.split('x');
    let set_x = 0;
    let set_y = 0;
    for (let i = 0; i < coordinates_split.length - 1; i++) {
      x = coordinates_split[i];
      let x_split = x.split(',');
      const newArr = x_split.filter(Boolean);
      // console.log(newArr);
      // console.log('hi');
      var Axis = {

        "start_x": 150 + 200 * (newArr[0] - 1),
        "start_y": 45 + 100 * (newArr[1] - 1),
        'end_x': 250 + 200 * (newArr[0] - 1),
        // "end_x" : 150+100*(x[2]-1),
        "end_y": 45 + 100 * (newArr[3] - 1),
        "middle_x": (150 + 200 * (newArr[0] - 1) + 250 + 200 * (newArr[0] - 1)) * 0.5,
      };

      const pathes = document.querySelector('.pathes');
      let pre_x = Axis.end_x;
      let pre_y = Axis.end_y;


      if (set_x < pre_x) {
        set_x = pre_x;
      }
      if (set_y < pre_y) {
        set_y = pre_y;
      }

      let path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
      // let newElement = document.createElementNS('http://www.w3.org/2000/svg','rect');
      path.setAttribute("d", `M${Axis.start_x} ${Axis.start_y} C ${Axis.middle_x} ${Axis.start_y} ${Axis.middle_x} ${Axis.end_y} ${Axis.end_x} ${Axis.end_y}`);
      path.setAttribute('stroke', `rgb(74 74 74)`);
      path.setAttribute('stroke-width', '3');
      path.setAttribute('fill', 'none');
      pathes.appendChild(path);
      pathes.setAttribute('width', set_x);
      pathes.setAttribute('height', set_y);
    }
  }

  init();


</script>

<script src="{% static 'NodeApp/JS/Upload.js' %}"></script>
{% endblock %}
