{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}

{% block scss %}
<link href="{% sass_src 'NodeApp/CSS/NodeListHtml.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'NodeApp/CSS/nodeModal.scss' %}" rel="stylesheet" type="text/css">
<style>
    .NodeContainer {
        display: grid;
        gap: 0;
        place-items: center center;
    }

    .Nodes button {
        all: unset;
        cursor: pointer;
    }

    /* 멘션 */
    .tribute-demo-input {
        outline: none;
        border: 1px solid #eee;
        padding: 3px 5px;
        border-radius: 2px;
        font-size: 15px;
        min-height: 32px;
        cursor: text;
    }

    .tribute-demo-input:focus {
        border-color: #d1d1d1;
        background-color: #fbfbfb;
    }

    [contenteditable="true"]:empty:before {
        content: attr(placeholder);
        display: block;
        color: #ccc;
    }

    /* 끝 */

    a {
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
    }

    .mentioned_name {
        background-color: transparent;
        color: #2ba6cb;
    }
</style>
{% endblock %}
{% block content %}
<h1>노드 상세내용 - 페이지번호 : 08</h1>


{% for x in node_obj %}
{{x.Code}}<br>
{{x.fileObj}}<br>
{{x.whoIsOwner}}<br>
{{x.createdDate}}<br>

<br>
<br>
<h3>댓글 작성</h3>
<a style="color: blueviolet;
                  background-color: aliceblue;
                  font-size: larger;
                  font-weight: bolder;" href="{% url 'node:node_comment_create' node_Code=x.Code %}">댓글 작성하러 가는
    버튼입니다.</a>

<div class="container my-3">
    <h5 class="border-bottom pb-2">댓글등록하기</h5>
    <form method="post" class="post-form my-3" action="{% url 'node:node_detail' node_Code=x.Code %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">댓글내용</label>
            <br>
            <!-- <textarea id="test" name="content" class="tribute-demo-input" placeholder="Enter some text here !">{{ form.content.value|default_if_none:'' }}</textarea> -->
            <!-- <input type="text" name="content"> -->
            <!-- <p id="test" class="tribute-demo-input" placeholder="Enter some text here" contenteditable="true"
                data-tribute="true"></p> -->
            <br>
            <!-- <textarea class="form-control" name="content" id="content"
                rows="3">{{ form.content.value|default_if_none:'' }}</textarea> -->
        </div>
        <!-- <input type="hidden" name="node_code" value="{{x.Code}}"> -->
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
    <p id="test" class="tribute-demo-input" placeholder="Enter some text here" contenteditable="true"
        data-tribute="true"></p>
    {% endfor %}
    <br>
    <br>
    <h3> 작성된 댓글이 나오는 부분 </h3>
    {% for comment in node_comments.all %}
    <p>{{ comment.content }}</p>
    {% endfor %}
</div>

{% endblock %}

{% block JS %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    // ajax csrf_token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // end

    // mentionable member 호출을 위한 ajax

    var project_members= [{}];

    $(document).ready(function () {
        console.log("{{node_code}}");
        var node_code = "{{node_code}}";

        $.ajax({
            url: "{% url 'node:mentionable_member_json' %}",
            dataType: "json",
            type: 'POST',
            data: {'code':node_code},
            success: function (data) {
                project_members = data;
                console.log(project_members);

                for (var i=0; i<project_members["length"]; i++){
                console.log(project_members[i])
            }

            },
            error: function (e) {
                console.log('error');
            }
        })

    });
     
    // 멘션기능 start
    var tribute = new Tribute({
        
        values: [
        // for(var i=0; i<project_members["length"]; i++){
            //     project_members[i],
            // }
            
            {
                key: "Hyeseon Lee",
                value: "HyeseonLeee"
            },
            {
                key: "Sea Jung",
                value: "SeaJungg"
            }
        ],

        selectTemplate: function (item) {
            if (typeof item === "undefined") return null;
            if (this.range.isContentEditable(this.current.element)) {
                return (
                    //   '<span contenteditable="false"><a href="http://zurb.com" target="_blank" title="' +
                    //   item.original.email +
                    //   '">' +
                    '<span contenteditable="false" class="mentioned_name">'
                    + '@'
                    + item.original.value
                    + "</span>"

                    //   "</a></span>"
                );
            }

            return "@" + item.original.value;
        },
        requireLeadingSpace: false
    });
    tribute.attach(document.getElementById("test")); // attach : tribute 라이브러리 사용가능하게 하기

    // when 대치되는 항목이 있어서 replace가 일어날 때 !
    document
        .getElementById("test")
        .addEventListener("tribute-replaced", function (e) {
            console.log("Original Event:", e.detail.event);
            console.log("Matched item:", e.detail.item);
        });

    // example of Tribute in autocomplete mode

    var tributeAttributes = {
        autocompleteMode: true,
        noMatchTemplate: "",

        values: [
            { key: "Hyeseon Lee", value: "HyeseonLee" },
            { key: "Sea Jung", value: "SeaJung" }
        ],
        selectTemplate: function (item) {
            if (typeof item === "undefined") return null;
            if (this.range.isContentEditable(this.current.element)) {
                return (
                    '<span contenteditable="false" class="mentioned_name">' +
                    item.original.key +
                    "</span>"
                );
            }

            return item.original.value;
        },
        menuItemTemplate: function (item) { //지금 멘션 list에 뜨는건 item.string 뿐이다. 원한다면 li의 innerHTML를 바꾸기 (return '<img src="'+item.original.avatar_url + '">' + item.string;)
            return item.string;
        }
    };

</script>
{% endblock %}