<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .NodeContainer {
      display: grid;
      gap: 5px;
      place-items: center center;
    }
    .Nodes button{
      all: unset;
      cursor: pointer;
    }
    
    
  </style>
</head>
<body>
  <div class="NodeContainer">
  </div>
  <script>
    const NodeContainer = document.querySelector(".NodeContainer");
    const init = async () =>{
      let data = await getNodeData();
      console.log(data);
      await createGrid(data); // 그리드 만들기
      await createNodeBtn(data);
      await settingNodeDiv();
    }
    const getNodeData = async () => {
      let json_data = '{{json_data}}'.replaceAll("&quot;", "\"");
      let json = JSON.parse(json_data);
      return await json
    }
    const createGrid = async(data) => {
      // 언급된 이전코드 수에 따라 row 수 결정 
      let mentionedPriviousCodeForRows = [];
      let priviousCodeNum = 0;
      for(let i = 0; i<data.length; i++){ // 하나만 업로드 되었을때도 포함하기 위해 i=0인  [null] 을 포함하였다
        mentionedPriviousCodeForRows.push(data[i].fields.previousCode);
        for(let j = 1; j<mentionedPriviousCodeForRows.length; j++){
          if(data[i].fields.previousCode == mentionedPriviousCodeForRows[j] && priviousCodeNum == 0){
            priviousCodeNum ++;
          } else if (data[i].fields.previousCode == mentionedPriviousCodeForRows[j] && priviousCodeNum == 1 ){
            priviousCodeNum = 0;
            delete mentionedPriviousCodeForRows[j];
          }
        }
      }
      let setMentionedPriviousCode = Array.from(new Set(mentionedPriviousCodeForRows))
      console.log(setMentionedPriviousCode)
      // priviousCode 수 검증에 따른 column 숫자 결정
      let dataArray = [];
      let mentionedPriviousCodeForColumns = [];
      for(let i = 0; i<data.length; i++){
        dataArray.unshift(data[i]);
        mentionedPriviousCodeForColumns.push(data[i].fields.previousCode); //column 사용을 위한 것
      }
      console.log(dataArray);
      for(let i = 0; i<data.length; i++){
        let testarray = [];
        if(dataArray[i].fields.previousCode != null){
          for(let k = 0; k<data.length; k++){
            let test = dataArray[i].fields.previousCode;
            if(k != i){
              if(test == data[k].pk){
                testarray.push(dataArray[k].fields.previousCode);
              } else if (data[k].fields.previousCode == null) {
                break
              }
            } 
            test = dataArray[k].fields.previousCode;
          }
          // console.log(testarray);
        } 
      }
      
      //row column 변수
      let rowNum = setMentionedPriviousCode.length - 1;

      
      //최대 row, columns 숫자 넣기 grid 생성
      let gridRowWidth = '{{gridRowNum}}'.replaceAll("&#x27;", ""); // views에서 받은 값 
      let gridColumnHeight = '{{gridColumnNum}}'.replaceAll("&#x27;", ""); // views에서 받은 값 
      NodeContainer.style.setProperty('grid', `${gridRowWidth} / ${gridColumnHeight}`); // grid 선언

      //grid-template-areas 선언
      // let rowNum = '{{rows}}'; // view에서 받은 행 최대값

      let columnNum = '{{columns}}'; // view에서 받은 열 최대값
      let gridTemplateAreas = []; // 가공 이전 배열
      let gridTemplateAreasArray = []; // 가공 후 문자열
      for(let i = 0; i<rowNum; i++){
        gridTemplateAreas.push(new Array());
        gridTemplateAreas[i].push('"'); // css 에 " ~~ " " ~~ " 형식으로 들어가는데 앞 " 을 담당
        for(let k = 0; k<columnNum; k++) {
          gridTemplateAreas[i].push(`R${i+1}C${k+1}`);
        } 
        gridTemplateAreasArray.push(gridTemplateAreas[i].join(" ")); // css 형식 맞추기 위한 변환
      }
      let gridNodeAreas = gridTemplateAreasArray.join(' " ').concat(' "'); // css 에 " ~~ " " ~~ " 형식으로 들어가는데 뒷부분 " 을 담당 및 변환
      NodeContainer.style.setProperty('grid-template-areas', `${gridNodeAreas}`)
    }
    const createNodeBtn = async(data) => {
      //node data 받아올 것 
      let exArray = [[1,1,000001, null], [1,2,000002, 000001], [2,2,000003,000001], [1,3,000002], [1,4,000005,000003], [2,4,000006,000003]];
      for(let i = 0; i<exArray.length; i++){ // 노드 수 만큼
        let btnDiv = document.createElement("div");
        let btn = document.createElement("button");
        let row = exArray[i][0];
        let column = exArray[i][1];
        let btnText = document.createTextNode(`${row}행 ${column}열`);
        btn.appendChild(btnText);
        btnDiv.appendChild(btn);
        btnDiv.setAttribute("class", `R${row}C${column} Nodes`);// R1C1 
        NodeContainer.appendChild(btnDiv);
      }
    }
    // 해당클래스 찾아서 grid-area 선언해야한다이말이야
    const settingNodeDiv = async() => {
      const Nodes = document.querySelectorAll(".Nodes");
      // console.log(Nodes);
      for(let i = 0; i<Nodes.length; i++){
        let nodeLocation = Nodes[i].classList[0];
        Nodes[i].style.setProperty('grid-area', `${nodeLocation}`); // 위치 지정
      }
    }
    init();
  </script>
</body>
</html>