{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% sass_src 'NodeApp/CSS/test.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>
    
    <div class="drop-zone">
        <!-- form 으로 전체를 담아서 input submit을 하면 되지 않을까? -->
        <span class="drop-zone__prompt">drop-zone</span>
        <!-- <div class="drop-zone__thumb" data-label="myfile.txt">

        </div> -->
        <input type="file" name="myFile" class="drop-zone__input" multiple>
    </div>
    <script src="{% static 'NodeApp/JS/Upload.js' %}"></script>
</body>
</html>