{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

<!-- scss를 선언할 영역 -->
{% block scss %}
<link href="{% sass_src 'FileApp/CSS/file_list.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'FileApp/CSS/modal.scss' %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block content %}
<div class="container">
    <div class="fileList_Header">
        <span class="fileListTitle large">{{pro_name}}</span>
        <span class='Title_discription small'>원하는 파일을 클릭하여 전체 버젼을 확인해보세요</span>
        <!-- <p class='Large'>프로젝트 참여 명단</p>
        {% for users in proj_user %}
            <span>{{users.username}}</span>
        {% endfor %} -->
        <a href="{% url 'file:invite' project_id %}">초대 링크 만들기</a>
    </div>
    <div class="fileList_Contents">
        <div class="fileList_List">
            {% for file in file_obj %}
            <div class='file'>
                <input class='image' type='hidden' value='{{file.image}}'></input>
                <div class='file_image'>
                    <a href="{% url 'node:node_list' file.Code %}"><img class='file_img'
                            style='width:120px;height:120px;'></a>
                </div>
                <div class='file_name'>
                    <a href="{% url 'node:node_list' file.Code %}">{{file.fileName}}</a>
                </div>


            </div>
            {% endfor %}
        </div>
    </div>
    <div class="fileList_upload">
        <button class="openModal"><i class="fas fa-plus fa-5x plus"></i><img style='width:40px;height:40px;'
                src="{% static 'MainApp/picture/pluslogo.png' %}"><br><Br>
            <p class='small'>버전을 추적할</p>
            <p class='small'>새 파일을 추가해보세요</p>
        </button>
    </div>
</div>
<br>
<div class="uploadModal hidden">
    <!--hidden-->
    <div class="modal_Overlay"></div>
    <div class="modal_Contents">
        <form method="POST" action="{% url 'file:create_new_file' %}" class="upload_Form" enctype="multipart/form-data" onsubmit="return checkForm()">
            {% csrf_token %}
            <div class="box">
                <div class="title">파일명 : </div>
                <div class="write">
                    <input type='text' name='fileName' class='input_sec' value=''>
                </div>

            </div>
            <div class="box">
                <div class="title">메모 : </div>
                <div class="write">
                    <input type='text' name='fileMemo' class='input_sec' value=''>
                </div>
            </div>
            <div class="upload_box">
                <div class="upload_title">파일 업로드</div>
                <div class="drop-zone">
                    <!-- <input type="file" name="myFile" class="drop-zone__input" value='파일 선택' multiple> -->
                    <div>
                        <label  class="self-select">
                        <input type="file" name="myFile" class="drop-zone__input" value='파일 선택' multiple>
                        <p class="drop-zone__input_label">또는 파일을 여기로 끌어 놓으세요</p></label>    
                    </div>
                    <!-- <div class="drop-zone__prompt">
                        <p class='inner_text'>또는 파일을 여기로 끌어 놓으세요</p>
                    </div> -->
                    <!-- <span class="drop-zone__prompt"></span> -->
    
                    <!-- <div>
                        <span class="drop-zone__prompt">
                            <p class='inner_text'>또는 파일을 여기로 끌어 놓으세요</p>
                        </span>
                    </div> -->
                    <input type='hidden' name='pk' value='{{project}}' formenctype="multipart/form-data">
                </div>
                
            </div>
            <p class= 'alert_text' style='color: red;'></p>
            <div class="submit">
                <input class="uploadBtn" type="submit"  value="OK">
            </div>



            <!-- <form method="POST" action="{% url 'file:create_new_file' %}" class="upload_Form" enctype="multipart/form-data">
                {% csrf_token %}
                <p class='middle'>메모:</p><input type='text' name='fileMemo' class='fileMemo' value=''>
                <p class='middle'>파일 업로드</p>
                <div class="drop-zone">
                    <input type="file" name="myFile" class="drop-zone__input" value='파일 선택' multiple><Br>
                    <span class="drop-zone__prompt"><p class='small'>또는 파일을 여기로 끌어 놓으세요</p></span>
                </div>
                <input type='hidden' name='pk' value='{{project}}' formenctype="multipart/form-data">
                <input class="uploadBtn" type="submit" value="OK">
            </form> -->


        </form>
    </div>
</div>



{% endblock %}
{% block JS %}
<script>
    var img;
    var x = document.getElementsByClassName('image')
    for (var i = 0; i < x.length; i++) {
        if (x[i].value == 'pdf') {
            img = "{% static 'MainApp/picture/wordicon.png' %}";
            document.getElementsByClassName('file_img')[i].setAttribute('src', img);
        }
        else if (x[i].value == 'word') {
            img = "{% static 'MainApp/picture/word.png' %}";
            document.getElementsByClassName('file_img')[i].setAttribute('src', img);
        }
        else if (x[i].value == 'ppt') {
            img = "{% static 'MainApp/picture/powerpoint.png' %}";
            document.getElementsByClassName('file_img')[i].setAttribute('src', img);
        }
        else {
            img = "{% static 'MainApp/picture/powerpoint.png' %}";
            document.getElementsByClassName('file_img')[i].setAttribute('src', img);
        }


    }

    const openButton = document.querySelector(".openModal");
    const modal = document.querySelector(".uploadModal");
    const overlay = modal.querySelector(".modal_Overlay");
    const alert_text = document.querySelector('.alert_text');
    const toggleModal = () => {
        modal.classList.toggle("hidden");
    }
    overlay.addEventListener("click", toggleModal);
    openButton.addEventListener("click", toggleModal);

    function checkForm(){
        const form = document.querySelector(".upload_Form");
        fileName = form.fileName;
        fileMemo = form.fileMemo;
        myFile = form.myFile;
        if(fileName.value == ""){
            alert_text.innerHTML ="제목란을 채워주세요"
            form.fileName.focus();
            return false;
        }
        else if(fileMemo.value ==""){
            alert_text.innerHTML ="메모란을 채워주세요"
            form.fileMemo.focus();
            return false;
        }
        else if(myFile.value == ""){
            alert_text.innerHTML ="파일을 추가해주세요"
            form.myFile.focus();
            return false;
        }
        else return true;

    }

</script>
{% endblock %}