{% load static %}
{% block content %}
<div class="container">
    <div class="fileList_Header">
        <span class="fileListTitle">00프로젝트 상세내용</span>
        {% for users in proj_user %}
            <span>{{users.username}}님 안녕하세요</span>
        {% endfor %}
    </div>
    <div class="fileList_Contents">
        <div class="fileList_List">
            {% for file in file_obj %}
                <a href="{% url 'node:version_all' file.Code %}">{{file.fileName}}</a><br>
            {% endfor %}
        </div>
        <Div class="fileList_upload">
            
            <button class="openModal"><i class="fas fa-plus fa-5x plus"></i><Br>버전을 추적할 <Br>새 파일을 추가해보세요</button>
        </Div>
    </div>
</div>
    
<div class="uploadModal hidden">
    <div class="modal_Overlay"></div>
    <div class="modal_Contents">
        <img src="{% static 'MainApp/image/logo.png' %}" alt="로고" class="upload_logo loginimgbox">
        <form method="POST" action="{% url 'file:create_new_file' %}" class="upload_Form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="drop-zone">
                <span class="drop-zone__prompt">영역을 클릭하거나 <br> 파일을 여기로 끌어 놓아 업로드 하세요.</span>
                <input type="file" name="myFile" class="drop-zone__input" multiple>
                
            </div>
            <input type='hidden' name='pk' value='{{project}}' formenctype="multipart/form-data">
            <p>파일 이름:</p><input type='text' name='fileName'>
            <input class="uploadBtn" type="submit" value="업로드하기">
        </form>   
    </div>
</div>

{% endblock %}

    