{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

<!-- scss를 선언할 영역 -->
{% block scss %}
<link href="{% sass_src 'ProjectApp/CSS/project_list.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block leftbar %}
    <div class="side-box">
        <p class="side-title">내 프로젝트</p>
        {% for project in proj_obj %}
        <ul class="side-content">
            <!-- <li class="side-project-name"><a  href="{% url 'file:file_list' project.id %}" style="color: black"><p>프로젝트{{project.id}} : {{project.name}}</p></a></li> -->
            <li class="side-project-name"><a  href="{% url 'file:file_list' project.id %}" style="color: black"><p>{{project.name}}</p></a></li>
        </ul>
        {% endfor %}
    </div>

    <div class="side-box">
        <p class="side-title ">최종 파일 모음</p>
    </div>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="box">
    <p class = 'font title l'>새 프로젝트 만들기</p>
    <div class = 'invite_link'>
        <div class = 'invite_top'>
            <p class = 'font middle'>초대링크 입력하기</p>
        
            <form action="{% url 'project:project_checkcode' %}" method='POST'>
            {% csrf_token %}
            <div class = 'invite_search'>
                <input class = 'invite_bar' type="text" name = 'Code'>
                <button class = 'invite_button' type="submit">OK</button>
            
            </div>
            </form>
        </div>
        <div class='invite_bottom'>
            <li class = 'font middle'>
                <ul><img src="{% static 'Projectapp/image/empty_project.png' %}" style ="width:17px;height:17px;"><a style = 'text-decoration: none;
                    color: #0F69E4;'class = 'openModal'>빈 프로젝트 생성하기</a></ul>
                <!-- {% url 'project:project_create' %} -->
                <ul><img src="{% static 'Projectapp/image/file_upload.png' %}"style ="width:17px;height:17px;">파일 업로드</ul>
                <ul><img src="{% static 'Projectapp/image/folder_upload.png' %}"style ="width:17px;height:17px;">폴더 업로드</ul>
            </li>
        </div>
        <p>{{message}}</p>
    </div>
</div>


<div class="box">

    <p class = 'font title'>참여중인 프로젝트</p>
    <p>{{empty}}</p>

    <div class = 'projects'>
        {% for project in proj_obj %}
        <div class = 'project_box'>
            <div class = 'project_top'>
                <div class = 'project_top_left'>
                    <br>
                    <a href="{% url 'file:file_list' project.id %}"><p class = 'font large'>{{project.name}}</p></a>
                    <p class = 'font small'>{{today|date:"Y-m-d"}}</p>    
                </div>
                <div class = 'project_top_right'>
                    <a href='#'><img src="{% static 'Projectapp/image/project_info.png' %}" style='width: 30px; height: 25px;'></a>
                </div>
           </div>
            <br>
            <div class = 'project_join_members'>
                <img src="{% static 'MainApp/image/profile_image_user.png' %}" style='width:40px;height:40px;border-radius: 50%;'>
                <img src="{% static 'MainApp/image/profile_image_user.png' %}" style='width:40px;height:40px;border-radius: 50%;'>
                <img src="{% static 'MainApp/image/profile_image_user.png' %}" style='width:40px;height:40px;border-radius: 50%;'>
                <img src="{% static 'MainApp/image/profile_image_user.png' %}" style='width:40px;height:40px;border-radius: 50%;'>
                <p class='font middle'>{{project.Code}}</p>
            </div>
        </div>
        {% endfor %}
    </div>  

    <div class="uploadModal">
        <!--hidden-->
        <div class="modal_Overlay"></div>
        <div class="modal_Contents">
            <!-- <div class="logo_box">
                <img class="logo" src="{% static 'MainApp/image/fn_symbol.png' %}" alt="로고" class="upload_logo loginimgbox">
            </div> -->
            <p>프로젝트 이름을 정해주세요!</p>
            <form action = "{% url 'project:project_create'%}" method = 'POST'>
                {% csrf_token %}
                <div class="box">
                    <div class="title">이름 : </div>
                    <div class="write">
                        <input type='text' name='name' class='input_sec' value=''>
                    </div>
    
                </div>
                <div class="box">
                    <div class="title">설명 : </div>
                    <div class="write">
                        <input type='text' name='description' class='input_sec' value=''>
                    </div>
                </div>

                <input type='submit' value='생성'>
            </form>

        </div>
    </div>
{% else %}
    <p class='error'>올바르지 않은 접근입니다!</p>
    <img src ="{% static 'image/logo_character.png' %}"alt="">
{% endif %}
</div>
{% endblock %}
{% block JS %}
<script>
    const openButton = document.querySelector(".openModal");
    const modal = document.querySelector(".uploadModal");
    const overlay = modal.querySelector(".modal_Overlay");
    const toggleModal = () => {
        modal.classList.toggle("hidden");
    }
    overlay.addEventListener("click", toggleModal);
    openButton.addEventListener("click", toggleModal);
</script>
{% endblock %}
