{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

<!-- scss를 선언할 영역 -->
{% block scss %}
<link href="{% sass_src 'ProjectApp/CSS/project_list.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'ProjectApp/CSS/modal.scss' %}" rel="stylesheet" type="text/css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="header bg-primary pt-4">


    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-lg-6 col-7 d-flex align-items-center">
                <h6 class="h1 text-white d-inline-block mb-0">{{username}}'s Project List</h6>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <button class="btn btn-icon btn-secondary openModal" type="button">
                    <span class="btn-inner--icon"><i class="ni ni-active-40"></i></span>
                    <span class="btn-inner--text">New Project</span>
                </button>
            </div>
        </div>
        <div class="row">
            {% for proj in proj_obj %}
            <div class="col-xl-3 col-md-5">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body py-4">
                        <div class="row flex-column px-2">
                            <a href="{% url 'file:file_list' proj.id %}">
                                <span class="h3 mb-0" style="color:rgb(34, 34, 34)">{{proj.name}}</span>
                            </a>


                            <span class="text-nowrap text-sm">{{proj.start_date|date:'Y-m-d'}} ~
                                {{proj.due_date|date:'Y-m-d'}}</span>

                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="uploadModal hidden">
    <!--hidden-->
    <div class="modal_Overlay"></div>
        <div class="modal_Contents">
            <p class="modal-title">프로젝트 이름을 정해주세요 :-)</p>
            <form action = "{% url 'project:project_create'%}" method = 'POST' class='create_project_form' onsubmit="return checkForm()">
                {% csrf_token %}
                <div class="m-boxes">
                    <div class="m-box">
                        <div class="input-title">이름 :                             
                        </div>
                        <div class="write">
                            <input type='text' name='name' class='input_sec' value=''>
                        </div>
                    </div>
                    <div class="m-box">
                        <div class="input-title">설명 : </div>
                        <div class="write">
                            <input type='text' name='description' class='input_sec' value=''>
                        </div>
                    </div>
                </div>
                <p class= 'alert_text' style='color: red;'></p>
                <div class="submit">
                    <input class="uploadBtn" type='submit'  value='생성'>
                </div>
            </form>
        </div>
</div>

{% else %}
    <p class='error'>올바르지 않은 접근입니다!</p>
    <img src ="{% static 'image/logo_character.png' %}"alt="">
{% endif %}
</div>
{% endblock %}
{% block JS %}
<script>
    const openButton = document.querySelector(".openModal");
    const modal = document.querySelector(".uploadModal");
    const overlay = modal.querySelector(".modal_Overlay");
    const alert_text = document.querySelector('.alert_text');
    const toggleModal = () => {
        modal.classList.toggle("hidden");
    }
    overlay.addEventListener("click", toggleModal);
    openButton.addEventListener("click", toggleModal);
    const likeornot = document.querySelectorAll('#likeornot');
    var arr = new Array();
    for (var i=0; i<likeornot.length; i++){
        arr[i] = likeornot[i].getAttribute('class');
    }
    var res = {};
    arr.sort();
    for(var value in arr){
        var index = arr[value];
        res[index] = res[index] == undefined ? 1:res[index]+=1;
    }
    console.log(res)
    for(var value in res){
        if(res[value]==1){
            img = "{% static 'Projectapp/image/star_off.png' %}";
            const a = document.getElementsByClassName(value);
            a[0].setAttribute('src', img);
        }
        else if (res[value]==2){
            img = "{% static 'Projectapp/image/star_on.png' %}";
            const a = document.getElementsByClassName(value);
            console.log(value,a)
            a[0].setAttribute('src', img);
            a[1].setAttribute('src',img);
        }
    }
    // var comp_arr1 = new Set(arr);
    // var comp_arr2 = new Array(comp_arr1);
    // console.log(arr,comp_arr2)
    // var final_arr = arr-comp_arr2;
    // console.log(final_arr);
    // for (var i=0; i<likeornot.length; i++){
    //     if(likeornot[i].getAttribute('class') == 'False'){
    //         img = "{% static 'Projectapp/image/star_off.png' %}";
    //         likeornot[i].setAttribute('src', img);
    //     } 
    //     else if(likeornot[i].getAttribute('class') == 'True'){
    //         img = "{% static 'Projectapp/image/star_on.png' %}";
    //         likeornot[i].setAttribute('src', img);
    //     }
    //     else{
    //         console.log(likeornot[i].getAttribute('class'));
    //         continue;
    //     }
    // }

        

    function checkForm(){
        const form = document.querySelector(".create_project_form");
        names = form.name;
        description = form.description;

        if(names.value == ""){
            alert_text.innerHTML ="제목란을 채워주세요"
            form.name.focus();
            return false;
        }
        else if(description.value ==""){
            alert_text.innerHTML ="설명란을 채워주세요"
            form.description.focus();
            return false;
        }
        else return true;

    }
</script>
{% endblock %}