{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

<!-- scss를 선언할 영역 -->
{% block scss %}
<link href="{% sass_src 'ProjectApp/CSS/project_list.scss' %}" rel="stylesheet" type="text/css">
<link href="{% sass_src 'ProjectApp/CSS/modal.scss' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block leftbar %}
    <div class="side-box">
        <p class="side-title">내 프로젝트</p>
        {% for project in proj_obj_all %}
        <ul class="side-content">
            <!-- <li class="side-project-name"><a  href="{% url 'file:file_list' project.id %}" style="color: black"><p>프로젝트{{project.id}} : {{project.name}}</p></a></li> -->
            <li class="side-project-name"><a  href="{% url 'file:file_list' project.id %}" style="color: black"><p>{{project.name}}</p></a></li>
        </ul>
        {% endfor %}
    </div>

    <div class="side-box">
        <p class="side-title ">최종 파일 모음</p>
    </div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="box">
    <p class = 'font title l'>새 프로젝트 만들기</p>
    <div class = 'invite_link'>
        <div class = 'invite_top'>
            <p class = 'font middle'>초대링크 입력하기</p>
        
            <form action="{% url 'project:project_checkcode' %}" method='POST'>
            {% csrf_token %}
            <div class = 'invite_search'>
                <input class = 'invite_bar' type="text" name = 'Code'>
                <button class = 'invite_button' type="submit">OK</button>
            
            </div>
            </form>
        </div>
        <div class='invite_bottom'>
            <li class = 'font middle'>
                <ul><img src="{% static 'Projectapp/image/empty_project.png' %}" style ="width:17px;height:17px;"><a style = 'text-decoration: none;
                    color: #0F69E4; cursor:pointer;'class = 'openModal'>빈 프로젝트 생성하기</a></ul>
                <!-- {% url 'project:project_create' %} -->
                <ul><img src="{% static 'Projectapp/image/file_upload.png' %}"style ="width:17px;height:17px;">파일 업로드</ul>
                <ul><img src="{% static 'Projectapp/image/folder_upload.png' %}"style ="width:17px;height:17px;">폴더 업로드</ul>
            </li>
        </div>
        <p>{{message}}</p>
    </div>
</div>
<div class='box'>
    <div class="projects">
        <p class="font title">최근 조회한 프로젝트</p>
    </div>
</div>

<div class="box" style='margin-bottom: 0px; padding-bottom: 0px;'>
        <p class="font title">즐겨찾기한 프로젝트</p>
    <div class="projects">
        
        {% for project in like_proj %}
        <div class = 'project_box'>
            <div class = 'project_top'>
                <div class = 'project_top_left'>
                    <br>
                    <a href="{% url 'file:file_list' project.id %}"><p class = 'font large'>{{project.name}}</p></a>
                    <p class = 'font small'>{{today|date:"Y-m-d"}}</p>    
                </div>
                <div class = 'project_top_right'>
                    <a href='{% url "project:project_likeornot" project.Code %}'><img class = '{{project.Code}}' id ='likeornot' style='width: 30px; height: 30px;' ></a>
                </div>
           </div>
            <br>
            <div class = 'project_join_members'>
                <p class='font middle'>{{project.Code}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
    
    
</div>
<div class="box">

    <p class = 'font title'>참여중인 프로젝트</p>
    <a name="join_projects"></a>
    <p>{{empty}}</p>
    <div class = 'projects'>
        {% if proj_obj.has_previous %}
        <a href="?page={{ proj_obj.previous_page_number }}"><img src="{%static 'Projectapp/image/arrowleft.png'%}" style ='width: 50px; height: 50px; margin-top: 50px;'></a>
        {% endif %}
        {% for project in proj_obj %}
        <div class = 'project_box'>
            <div class = 'project_top'>
                <div class = 'project_top_left'>
                    <br>
                    <a href="{% url 'file:file_list' project.id %}"><p class = 'font large'>{{project.name}}</p></a>
                    <p class = 'font small'>{{today|date:"Y-m-d"}}</p>    
                </div>
                <div class = 'project_top_right'>
                    <a href='{% url "project:project_likeornot" project.Code %}'><img class = '{{project.Code}}' id ='likeornot' style='width: 30px; height: 30px;'></a>
                </div>
           </div>
            <br>
            <div class = 'project_join_members'>
                <p class='font middle'>{{project.Code}}</p>
            </div>
        </div>
        {% endfor %}
        {% if proj_obj.has_next %}
        <a href="?page={{ proj_obj.next_page_number }}"><img src="{%static 'Projectapp/image/arrowright.png'%}" style ='width: 50px; height: 50px; margin-top: 50px;'></a>
        {% endif %}
    </div>  

    <div class="uploadModal hidden">
        <!--hidden-->
        <div class="modal_Overlay"></div>
        <div class="modal_Contents">
            <p class="modal-title">프로젝트 이름을 정해주세요 :-)</p>
            <form action = "{% url 'project:project_create'%}" method = 'POST' class='create_project_form' onsubmit="return checkForm()">
                {% csrf_token %}
                <div class="m-boxes">
                    <div class="m-box">
                        <div class="input-title">이름 : </div>
                        <div class="write">
                            <input type='text' name='name' class='input_sec' value=''>
                        </div>
        
                    </div>
                    <div class="m-box">
                        <div class="input-title">설명 : </div>
                        <div class="write">
                            <input type='text' name='description' class='input_sec' value=''>
                        </div>
                    </div>
                </div>
                <p class= 'alert_text' style='color: red;'></p>
                <div class="submit">
                <input class="uploadBtn" type='submit'  value='생성'>
            </div>
            </form>

        </div>
    </div>
{% else %}
    <p class='error'>올바르지 않은 접근입니다!</p>
    <img src ="{% static 'image/logo_character.png' %}"alt="">
{% endif %}
</div>
{% endblock %}
{% block JS %}
<script>
    const openButton = document.querySelector(".openModal");
    const modal = document.querySelector(".uploadModal");
    const overlay = modal.querySelector(".modal_Overlay");
    const alert_text = document.querySelector('.alert_text');
    const toggleModal = () => {
        modal.classList.toggle("hidden");
    }
    overlay.addEventListener("click", toggleModal);
    openButton.addEventListener("click", toggleModal);
    const likeornot = document.querySelectorAll('#likeornot');
    var arr = new Array();
    for (var i=0; i<likeornot.length; i++){
        arr[i] = likeornot[i].getAttribute('class');
    }
    var res = {};
    arr.sort();
    for(var value in arr){
        var index = arr[value];
        res[index] = res[index] == undefined ? 1:res[index]+=1;
    }
    console.log(res)
    for(var value in res){
        if(res[value]==1){
            img = "{% static 'Projectapp/image/star_off.png' %}";
            const a = document.getElementsByClassName(value);
            a[0].setAttribute('src', img);
        }
        else if (res[value]==2){
            img = "{% static 'Projectapp/image/star_on.png' %}";
            const a = document.getElementsByClassName(value);
            console.log(value,a)
            a[0].setAttribute('src', img);
            a[1].setAttribute('src',img);
        }
    }
    // var comp_arr1 = new Set(arr);
    // var comp_arr2 = new Array(comp_arr1);
    // console.log(arr,comp_arr2)
    // var final_arr = arr-comp_arr2;
    // console.log(final_arr);
    // for (var i=0; i<likeornot.length; i++){
    //     if(likeornot[i].getAttribute('class') == 'False'){
    //         img = "{% static 'Projectapp/image/star_off.png' %}";
    //         likeornot[i].setAttribute('src', img);
    //     } 
    //     else if(likeornot[i].getAttribute('class') == 'True'){
    //         img = "{% static 'Projectapp/image/star_on.png' %}";
    //         likeornot[i].setAttribute('src', img);
    //     }
    //     else{
    //         console.log(likeornot[i].getAttribute('class'));
    //         continue;
    //     }
    // }

        

    function checkForm(){
        const form = document.querySelector(".create_project_form");
        names = form.name;
        description = form.description;

        if(names.value == ""){
            alert_text.innerHTML ="제목란을 채워주세요"
            form.name.focus();
            return false;
        }
        else if(description.value ==""){
            alert_text.innerHTML ="설명란을 채워주세요"
            form.description.focus();
            return false;
        }
        else return true;

    }
</script>
{% endblock %}
